*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(175, 175, 175);
}
header{
    background-color: rgb(255, 255, 255);
}
.logo{
    width: 270px;
}
.topo{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
nav{
    display:flex;
    gap:20px;
}
nav a{
    text-decoration:none;
    color:rgb(255, 255, 255);
    padding:10px 15px;
    border-radius:5px;
    background-color: rgb(77,77,77);
    margin: 10px;
}
header p{
    text-align:center;
}
nav a:hover{
    background-color:rgb(236, 236, 236);
}
header h1{
    padding: 14px;
    color: rgb(77,77,77);
    font-family: 'Times New Roman', Times, serif; 
}
header p{
    background-color: rgb(77, 77, 77);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font-style: italic;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}
.cont{
    background-color: rgb(87, 87, 87);
    text-align: center;
    border-radius: 10px;
    width: 40%;
    display:flexbox;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: auto;
    margin-top: 20px; 
    color: white;
    padding-bottom: 30px;
}
.cont h2{
    padding: 10px;
}
